{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "trailingComma": "none",
  "overrides": [
    {
      "files": [".prettierrc", ".lintstagedrc.yaml"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
